.side
  .side__box
    .side__box__name 
    = current_user.name
    .icon
    = link_to new_group_path do
      %i.far.fa-edit.icon
    = link_to  edit_user_path(current_user) do
      %i.fas.fa-cog.icon 
  .group
    - current_user.groups.each do |group|
      .group__area
        = link_to group_messages_path(group) do
          %p.group__area__title 
            = group.name
          %p.group__area__comment 
            = group.show_last_message


    -# = link_to "#" do
    -#   %i.fas.fa-cog.icon  書き換えた
